<% var nationName = nation.get('name') %>

<div id="sidebar">
  <strong><a href="" class="nation-link"><%= nationName %></a></strong><br>
  <a href="#/nations">World</a><br>
  <a href="" class="logout">Log Out</a>
</div>

<div id="issues">
  <h2 class="issue-header"><%= nationName %> Decides!</h2>
  <% if (issues.length > 0) { %>
    <p>The following issues confront <%= nationName %>:</p>
    <ul class="issue-list">
      <% issues.each(function (issue) { %>
        <li><a href="#issues/<%= issue.id %>"><%= issue.get('title') %></a></li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>All is well in <%= nationName %> - for now...</p>
    <p><button class="submit">Get More Issues</button></p>
  <% } %>
</div>
