<% var nationName = nation.get('name') %>

<div id="sidebar">
  <strong><a href="" class="nation-link"><%= nationName %></a></strong><br>
  <strong><a href="#/issues">Issues</a><br></strong>
  <a href="" class="logout">Log Out</a>
</div>

<div id="issue">
  <h2><%= nationName %> Decides:</h2>
  <h3><%= issue.get('title') %></h3>
  <h6>The Issue</h6>
  <p><%= issue.get('body') %></p>
  <h6>The Debate</h6>
  <ol class="options">
    <% if (issue.get('issue_options') != undefined) { %>
      <% for (var i = 0; i < issue.get('issue_options').length; i++) { %>
        <% var option = issue.get('issue_options')[i] %>
        <li>
          <p><%= option.body %></p>
          <p><button type="submit" name="<%= option.id %>">Accept</button></p>
        </li>
      <% } %>
    <% } %>
  </ol>
  <p><button type="submit" name="dismiss">Dismiss This Issue</button></p>
</div>
